body {
  background-color: rgb(211, 211, 211);
}

.container-fluid {
  padding: 50px;
}

nav {
}

.logo {
  text-align: center;
}

.nav-link {
  color: rgb(7, 6, 80);
  font-family: "fabiola-capitals", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
}

hr {
  box-shadow: 2px 2px 2px white;
}

.nav-item {
  font-size: 2rem;
  color: #ffffff;
  position: relative;
  display: inline-block;
}

.nav-item:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 10%;
  left: 0px;
  transform: scaleX(0);
  background: rgb(63, 63, 238);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.nav-item:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* TITLE */
.section {
  margin-bottom: 4em;
}

.title-colleges {
  font-size: 4rem;
  text-align: center;
}

.description {
  font-size: 1rem;
  text-align: center;
  margin-top: 0.5em;
}

/* buttons */
.btn {
  position: relative;
  display: block;
  height: 40px;
  width: 140px;
  margin: 10px 7px 10px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 28px;
  justify-content: center;
  letter-spacing: 2px;
  color: #000000;
  box-shadow: 2px 2px 2px #000000;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  overflow: hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition: 0.08s ease-in;
  -o-transition: 0.08s ease-in;
  -ms-transition: 0.08s ease-in;
  -moz-transition: 0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
  font-family: "Nanum Pen Script", cursive;
  background-color: #96b58d;
  margin-top: 2%;
  font-size: 3vw;
  padding: 10px;
  white-space: nowrap;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.button-row .btn {
  flex: 1 1 30%; /* grows and shrinks with screen */
  min-width: 100px;
}

@media (min-width: 768px) {
  .btn {
    font-size: 1.5vw;
  }
}

.btn {
  font-size: 1vw;
}

.btn:hover {
  color: whitesmoke;
}

.btn:before {
  content: "";
  position: absolute;
  background: #263e0f;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.1s ease-in;
}

.btn:hover:before {
  top: 0;
}

/*PRODUCT DETAIL PAGE*/
.container-space {
  margin-top: 2rem;
}
.product-thumbnails {
  margin-top: 2rem;
}
.product-thumbnails > ul {
  list-style: none;
  display: flex;
  padding-left: 0;
}
.product-thumbnails > ul > li > img {
  width: 100px;
  margin-right: 1rem;
}
.thumbnail-active {
  border: 2px solid #000;
}
.nav-link > img {
  width: 40px;
  border-radius: 8px;
  margin-right: 10px;
}
.btn-custom-color {
  border: 2px solid #4fc08d;
  color: #4fc08d;
}
.btn-custom-color:hover {
  border: 2px solid #4fc08d;
  background-color: #4fc08d;
  color: #ffffff;
}
