body {
  background-color: rgb(218, 215, 215);
}

.logo {
  text-align: center;
}

.nav-link {
  color: rgb(7, 6, 80);
  font-family: "fabiola-capitals", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
}

hr {
  box-shadow: 2px 2px 2px white;
}

.nav-item {
  font-size: 2rem;
  color: #ffffff;
  position: relative;
  display: inline-block;
}

.nav-item:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 10%;
  left: 0px;
  transform: scaleX(0);
  background: #537ece;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.nav-item:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* CARDS */
.card-1 {
  display: inline-block;
}

.college {
  height: 350px;
  width: 350px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
}

.card-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.college {
  width: 100px;
  height: auto;
  padding: 70px;
}
