* {
  text-align: center;
}

body {
  background-image: url("img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

.container {
  background-color: rgba(196, 193, 193, 0.6);
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60%;
  box-shadow: 6px 6px 10px rgba(3, 18, 87, 0.8);
  text-align: center;
  padding: 0px;
}

h1 {
  font-size: clamp(4rem, 8vw, 10rem);
  font-family: "dynapuff", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: rgb(7, 18, 66);
  display: flex;
  justify-content: center;
  position: relative;
  transition: all 0.5s ease;
  overflow: hidden;
}

h2 {
  font-size: clamp(2rem, 5vw, 4rem);
  font-family: "fabiola-script", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(12, 16, 32);
  display: inline-block;
  padding: 1vw 3vw;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}

/* SHOP NOW BUTTON */
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.5s ease;
  color: rgb(233, 233, 233);
  font-size: 7vw;
  z-index: 2;
  width: 15rem;
  border: 1px solid rgba(2, 2, 49, 0.521);
  background-color: rgba(12, 12, 88, 0.322);
  font-family: "fabiola-capitals", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
}

.btn::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg,
    transparent,
    transparent 30%,
    rgba(221, 224, 224, 0.3)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(12, 12, 88);
  background-color: rgba(12, 12, 88, 0.322);
  color: rgb(233, 233, 233);
}

.btn:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}
