* {
  text-align: center;
}

body {
  background-image: url("img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

.container {
  background-color: rgba(6, 7, 87, 0.6);
  position: absolute;
  max-width: 100%;
  text-align: center;
  height: 8%;
  color: white;
}

.nav-link {
  color: white;
  padding: 20px;
  font-size: 1.3rem;
  font-family: "Cal Sans", sans-serif;
}

.nav-link:hover {
  color: rgb(158, 167, 206);
}

.title {
  color: white;
  padding: 20px;
  font-size: 1.8rem;
  font-family: "dynapuff", sans-serif;
  margin: 0 auto;
}

/* SHOP NOW BUTTON */
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.5s ease;
  color: rgb(233, 233, 233);
  font-size: 7vw;
  z-index: 2;
  width: 15rem;
  border: 1px solid rgba(2, 2, 49, 0.521);
  background-color: rgba(12, 12, 88, 0.322);
  font-family: "fabiola-capitals", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
}

.btn::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg,
    transparent,
    transparent 30%,
    rgba(221, 224, 224, 0.3)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(12, 12, 88);
  background-color: rgba(12, 12, 88, 0.322);
  color: rgb(233, 233, 233);
}

.btn:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}
