body {
  background-image: url("/img/background.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background: radial-gradient(#36199c, #100f4d);
  position: absolute;
  max-width: 100%;
  text-align: center;
  height: 8%;
  color: white;
  box-shadow: 1px 1px 1px white;
}

hr {
  padding: 10px 30px;
  margin-top: 5%;
}

.nav-link {
  color: rgb(255, 245, 202);
  padding: 20px;
  font-size: 1.3rem;
  font-family: "Cal Sans", sans-serif;
}

.nav-link:hover {
  color: rgb(158, 167, 206);
}

.title {
  color: rgb(129, 147, 228);
  padding: 20px;
  font-family: "dynapuff", sans-serif;
  margin: 0 auto;
  margin-top: 10%;
}

.name {
  text-shadow: 2px 2px 2px rgb(255, 253, 253);
  font-size: 7.5rem;
}

h2 {
  font-family: "filosofia", serif;
  font-size: 3.5rem;
  text-shadow: 2px 2px 2px rgb(129, 147, 228);
}

/* SHOP NOW BTN */
.shop {
  background-color: rgb(129, 147, 228);
  border: 2px solid rgb(255, 255, 255);
  color: #fff;
  text-align: center;
  transition: all 0.5s;
  text-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  display: inline-block;
  position: relative;
  transition: 0.5s;
  padding: 15px;
  border-radius: 40px 40px;
  margin-top: 4%;
}

.shop:hover {
  background-color: rgb(6, 7, 87);
  border-color: rgb(255, 255, 255);
  padding-right: 24px;
  padding-left: 8px;
  color: white;
}

.shop:after {
  content: "»";
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}

.shop:hover:after {
  opacity: 1;
  right: 10px;
}

/* DESCRIPTION */
.description {
  list-style-position: inside;
}

.important {
  margin-top: 10%;
  background: radial-gradient(#36199c, #100f4d);
  padding: 20px;
  box-shadow: 1px 1px 1px white;
}

.info {
  font-size: 3.5rem;
  color: rgb(255, 245, 202);
  margin-bottom: 2%;
}

.words {
  margin-top: 1%;
  font-size: 1.7rem;
  font-family: "balto", sans-serif;
}

/* CLOTHING CARD STYLING */
#clothes {
  color: rgb(12, 19, 78);
  padding: 20px;
  font-family: "curve", serif;
  font-weight: 500;
  font-style: normal;
  margin: 0 auto;
  text-shadow: 2px 2px 2px rgb(255, 255, 255);
  font-size: 7.5rem;
  background-color: rgba(255, 255, 255, 0.404);
  margin-top: 3%;
  max-height: 40%;
  max-width: 40%;
  border-radius: 30px 30px;
}

.card {
  width: 275px;
  height: 375px;
  background: rgb(255, 245, 202);
  transition: all 0.4s;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
  font-size: 30px;
  font-weight: 900;
  margin-top: 5%;
  padding: 20px;
}

.card:hover {
  border-radius: 15px;
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
  background: radial-gradient(#36199c, #100f4d);
}

.picture {
  height: 100%;
  width: 100%;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-radius: 15px;
}

.card:hover .picture {
  height: 0px;
  opacity: 0;
}

.price {
  height: 0%;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: all 0.4s;
  font-size: 0px;
  transform: rotate(90deg) scale(-1);
  color: rgb(255, 245, 202);
}

.card:hover .price {
  opacity: 1;
  height: 100%;
  font-size: 2.5rem;
  transform: rotate(0deg);
}

/* BOTTLES STYLING */
#bottles {
  color: rgb(12, 19, 78);
  padding: 20px;
  font-family: "curve", serif;
  font-weight: 500;
  font-style: normal;
  margin: 0 auto;
  text-shadow: 2px 2px 2px rgb(255, 255, 255);
  font-size: 7.5rem;
  background-color: rgba(255, 255, 255, 0.404);
  margin-top: 3%;
  max-height: 40%;
  max-width: 40%;
  border-radius: 30px 30px;
}

/* CONTACT STYLING */
#contact {
  color: rgb(12, 19, 78);
  padding: 20px;
  font-family: "curve", serif;
  font-weight: 500;
  font-style: normal;
  margin: 0 auto;
  text-shadow: 2px 2px 2px rgb(255, 255, 255);
  font-size: 7.5rem;
  background-color: rgba(255, 255, 255, 0.404);
  margin-top: 3%;
  max-height: 40%;
  max-width: 40%;
  border-radius: 30px 30px;
}
